# Ignore build and distribution folders
/__pycache__/
/2.5/
/build/
/dist/
/Output/

# Ignore installer and image files
installer.iss
setup_complete.bmp
tetris.bmp
tetris.ini
TetrisRedux.spec
topten.ini